<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">ChallengeTrends</a></li>
        </ul>
    </div>
    <h1>User List</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i<dataUsers.length; i++){ %>
            <tr>
                <td>
                    <%= dataUsers[i].firstName %>
                </td>
                <td>
                    <%= dataUsers[i].lastName %>
                </td>
                <td>
                    <button>More</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>